<mat-toolbar color="primary">
  <span>{{ headerTitle }}</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/tasks">
      <mat-icon>list</mat-icon>
      <span>Tasks</span>
    </button>
    <button mat-menu-item (click)="openAddTaskDialog()">
      <mat-icon>add</mat-icon>
      <span>Add New Task</span>
    </button>
    <button mat-menu-item routerLink="/night-plan">
      <mat-icon>nightlight</mat-icon>
      <span>Night Plan</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>