<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>Hevelius</span>
  </mat-toolbar-row>
</mat-toolbar>

<form class="login">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="username">
          <input matInput placeholder="Your username">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="password">
          <input matInput placeholder="Your password">
        </mat-form-field>
      </td>
    </tr>

    <tr>
     <td>
       <a mat-button routerLink="/login">Login</a>
     </td>
    </tr>
  </table>

</form>