<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>{{ title }} {{version}}</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card class="login-card">
    <mat-card-content>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; align-items: center;">
  <img src="assets/images/hevelius.jpg" title="Johannes Hevelius" alt="Hevelius portrait"/>
    <mat-form-field style="width: 240px;">
        <mat-label>Your username</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field style="width: 240px;">
        <mat-label>Your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
        Login
    </button>
</form>
    </mat-card-content>
</mat-card>

<div style="position: fixed; bottom: 8px; width: 100%; text-align: center; color: #666; font-size: 0.8em;">
    Frontend {{version}} | Backend {{backendVersion}}
</div>
